@import '~node_modules/modern-normalize/modern-normalize.css';
:root {
  /* colors */
  --cl-white: #ffffff;
  --cl-almost-white: #fefefe;
  --cl-black: #000000;
  --cl-txt: #8c8c8c;
  --cl-secondary: #f7f7f7;
  --cl-accent: #ff6b08;
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  /* size */
  /* animat */
  --animat: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  color: var(--cl-almost-black);
  font-family: var(--main-font);
}

ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.lnk {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}

.lst {
  list-style-type: none;
}

.img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media (max-width: 767.98px) {
  .container {
    padding-top: 20px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.btn-queue,
.btn-watch,
.modal__btn--right,
.modal__btn--left {
  display: block;
  width: 110px;
  height: 44px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  border-radius: 5px;
  border: 1px solid;
  background-color: transparent;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-queue:hover,
.btn-watch:hover,
.modal__btn--right:hover,
.modal__btn--left:hover {
  background-color: var(--cl-accent);
  color: var(--cl-white);
}

/* Modal window */
.modal-backdrop {
  position: fixed;
  overflow-y: scroll;
  z-index: 2000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition-property: opacity;
}
.modal-backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal-window {
  position: relative;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 48px 20px 40px 20px;
  width: 280px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .modal-window {
    display: flex;
    top: 50%;
    width: 704px;
    height: 552px;
    padding: 40px 72px 40px 36px;
  }
}
@media screen and (min-width: 1280px) {
  .modal-window {
    width: 806px;
    height: 558px;
    padding: 40px 12px 40px 12px;
  }
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.modal__sidebar--left {
  display: block;
  border-radius: 5px;
  width: 240px;
  height: 357px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .modal__sidebar--left {
    width: 264px;
    height: 374px;
    margin-bottom: 0;
    margin-right: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__sidebar--left {
    width: 375px;
    height: 478px;
    margin-right: 16px;
  }
}

.modal__img {
  width: 240px;
  height: 357px;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .modal__img {
    width: 264px;
    height: 374px;
    border-radius: 5px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__img {
    width: 375px;
    height: 478px;
    border-radius: 5px;
  }
}

.modal__item {
  display: flex;
  margin-bottom: 8px;
}
.modal__item:last-child {
  margin-bottom: 20px;
}

.modal__sidebar--right {
  display: block;
}
@media screen and (min-width: 768px) {
  .modal__sidebar--right {
    width: 264px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__sidebar--right {
    width: 391px;
  }
}

.modal__title {
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.08;
  color: var(--cl-black);
  margin-bottom: 20px;
}

.modal__heading {
  width: 109px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: var(--cl-txt);
}

.modal__txt {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: var(--cl-black);
  align-items: center;
}

.modal__vote {
  text-align: center;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  background-color: var(--cl-accent);
  margin-right: 2px;
  color: var(--cl-white);
}

.modal__votes {
  text-align: center;
  width: 36px;
  height: 16px;
  border-radius: 5px;
  background-color: var(--cl-secondary);
  margin-left: 2px;
  color: var(--cl-black);
}

.modal__subtitle {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: var(--cl-black);
  margin-bottom: 8px;
}

.modal__desc {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.66;
  color: var(--cl-black);
  margin-bottom: 20px;
}

.modal__box {
  display: flex;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .modal__box {
    gap: 15px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__box {
    justify-content: start;
    gap: 15px;
  }
}

@media screen and (min-width: 768px) {
  .modal__btn--left {
    width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__btn--left {
    width: 136px;
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) {
  .modal__btn--right {
    width: 125px;
  }
}
@media screen and (min-width: 1280px) {
  .modal__btn--right {
    width: 136px;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #db3434;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.js-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.js-pagination__btn {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  background-color: var(--cl-white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  border-radius: 5px;
  border-color: var(--cl-white);
  border-style: none;
  cursor: pointer;
  transition: background-color var(--animat), color var(--animat);
}
.js-pagination__btn--active:hover {
  background-color: var(--cl-accent);
  color: var(--cl-white);
}
.js-pagination__btn--current {
  color: var(--cl-black);
  background-color: #ff6b08;
  cursor: auto;
}
.js-pagination__btn--block {
  background-color: var(--cl-secondary);
  color: rgb(80, 79, 79);
  cursor: auto;
}
.js-pagination__span {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.js-gray {
  background-color: var(--cl-secondary);
}

.card {
  width: 280px;
  height: 440px;
  transition: 0.5s linear;
}
@media screen and (min-width: 768px) {
  .card {
    width: 336px;
    height: 495px;
  }
}
@media screen and (min-width: 1280px) {
  .card {
    width: 395px;
    height: 634px;
  }
}
.card:hover,
.card:focus {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .card__wrap {
    display: block;
  }
}

.card__img {
  width: 280px;
  height: 398px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .card__img {
    width: 336px;
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .card__img {
    width: 394px;
    height: 574px;
  }
}

.card__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  color: black;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .card__name {
    line-height: 1.3333333333;
  }
}
@media screen and (min-width: 1280px) {
  .card__name {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333333333;
  color: #ff6b08;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .card__info {
    line-height: 1.3333333333;
  }
}
@media screen and (min-width: 1280px) {
  .card__info {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__rating {
  display: none;
}

.button-youtube {
  position: absolute;
  z-index: 1;
  width: 275px;
  height: 40px;
  margin-left: 2px;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 0;
  outline: none;
  background-image: url(../..//..//src/images/icons8-youtube-play.svg);
  background-color: initial;
}

.film-container {
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .film-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.film-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .film-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .film-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px 16px;
  }
}

.card {
  flex-basis: calc((100% - 20px * (1 - 1)) / 1);
}
@media screen and (min-width: 768px) {
  .card {
    flex-basis: calc((100% - 32px * (2 - 1)) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .card {
    flex-basis: calc((100% - 32px 16px * (3 - 1)) / 3);
  }
}

.footer {
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: -1px -8px 33px 6px rgba(0, 0, 0, 0.15);
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #545454;
}

.footer-icon {
  display: inline;
  margin-left: 5px;
  margin-right: 5px;
  fill: #ff6b08;
}

.developers {
  cursor: pointer;
  text-decoration: underline;
}
.developers:hover,
.developers:focus {
  color: #ff6b08;
}

.footer-container {
  text-align: center;
}

.header {
  height: 230px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/header/background_1x_s.png);
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/header/background_2x_s.png);
  }
}
@media screen and (min-width: 768px) {
  .header {
    height: 216px;
    background-image: url(../images/header/background_1x_m.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/header/background_2x_m.png);
  }
}
@media screen and (min-width: 1280px) {
  .header {
    background-image: url(../images/header/background_1x_l.png);
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1280px) and (min-resolution: 192dpi),
  screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .header {
    background-image: url(../images/header/background_2x_l.png);
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 56px;
}
@media screen and (min-width: 768px) {
  .header__container {
    margin-bottom: 46px;
  }
}

.nav__list {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-right: 20px;
  padding-top: 44px;
  color: var(--cl-white);
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .nav__list {
    margin-right: 32px;
    padding-top: 49px;
  }
}

.nav__link--current {
  position: relative;
}
.nav__link--current::after {
  content: '';
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #ff001b;
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-left: 22px;
  padding-top: 40px;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-left: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    gap: 10px;
  }
}

.header__title {
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .header__title {
    opacity: 1;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 30px;
    line-height: 1.1666666667;
    color: var(--cl-white);
  }
}

.header__search-form {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  border-bottom: 1px solid var(--cl-white);
}
@media screen and (min-width: 768px) {
  .header__search-form {
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .header__search-form {
    width: 394px;
  }
}

.input-form {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: transparent;
  padding: 5px;
  color: var(--cl-white);
}
.input-form::-moz-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--cl-white);
}
.input-form:-ms-input-placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--cl-white);
}
.input-form::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--cl-white);
}

.button-form {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.form-icon {
  color: var(--cl-white);
}

.nav__item:last-child {
  position: relative;
  cursor: pointer;
}
.nav__item:last-child p {
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.lang-list {
  position: absolute;
  top: 20px;
  right: -11px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  transition-property: opacity, top;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.lang-list img {
  border-radius: 15%;
}
.lang-list li {
  width: 60px;
}
.lang-list-show {
  top: -20px;
}

.lang-hidden {
  opacity: 0;
  cursor: auto;
}

.list {
  list-style-type: none;
}

.header-library {
  max-width: 1280px;
  height: 230px;
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/header-library/library_sm@1x.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header-library {
    background-image: url(../images/header-library/library_sm@2x.png);
  }
}
@media screen and (min-width: 768px) {
  .header-library {
    height: 219px;
    background-image: url(../images/header-library/library_md@1x.png);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 768px) and (min-resolution: 192dpi),
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: url(../images/header-library/library_md@2x.png);
  }
}
@media screen and (min-width: 1200px) {
  .header-library {
    height: 216px;
    background-image: url(../images/header-library/library_lg@1x.png);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-width: 1200px) and (min-resolution: 192dpi),
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .header-library {
    background-image: url(../images/header-library/library_lg@2x.png);
  }
}

.header-library-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-filmoteka {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 30px;
  line-height: 1.16;
  font-weight: 500;
  text-decoration: none;
}
@media (max-width: 767.98px) {
  .nav-logo-filmoteka {
    display: none;
  }
}

.nav-logo__item {
  cursor: pointer;
}

.nav-menu {
  display: flex;
  gap: 39px;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-menu__link {
  position: relative;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 12px;
  line-height: 1.16;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  list-style-type: none;
  cursor: pointer;
}

.nav-menu__link-btn {
  padding: 0px;
  background: none;
  border: none;
}

.nav-menu__link.active::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0px;
  display: block;
  width: 100%;
  height: 2px;
  background-color: red;
}

.btn-menu {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 40px;
  align-items: center;
}

.btn-watch {
  border-color: #fff;
  color: #fff;
}
.btn-watch.active {
  background-color: var(--cl-accent);
}

.btn-queue {
  border-color: #fff;
  color: #fff;
}
.btn-queue.active {
  background-color: var(--cl-accent);
}

.pagination {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .pagination {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.pagination__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0;
}

.container > .gallery {
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .container > .gallery {
    padding-top: 30px;
  }
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}
/* -------- FILM CARD -------- */
.card {
  width: 280px;
  height: 440px;
  transition: 0.5s linear;
}
@media screen and (min-width: 768px) {
  .card {
    width: 336px;
    height: 495px;
  }
}
@media screen and (min-width: 1280px) {
  .card {
    width: 395px;
    height: 634px;
  }
}
.card:hover,
.card:focus {
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .card__wrap {
    display: block;
  }
}

.card__img {
  width: 280px;
  height: 398px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .card__img {
    width: 336px;
    height: 455px;
  }
}
@media screen and (min-width: 1280px) {
  .card__img {
    width: 394px;
    height: 574px;
  }
}

.card__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.1666666667;
  color: black;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .card__name {
    line-height: 1.3333333333;
  }
}
@media screen and (min-width: 1280px) {
  .card__name {
    font-size: 20px;
    line-height: 1.2;
  }
}

.card__info {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3333333333;
  color: #ff6b08;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .card__info {
    line-height: 1.3333333333;
  }
}
@media screen and (min-width: 1280px) {
  .card__info {
    font-size: 20px;
    line-height: 1.2;
  }
}

.button-youtube {
  position: absolute;
  z-index: 1;
  width: 275px;
  height: 40px;
  margin-left: 2px;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 0;
  outline: none;
  background-image: url(../..//..//src/images/icons8-youtube-play.svg);
  background-color: initial;
} /*# sourceMappingURL=index.css.map */
