:root {
    /* colors */
    --cl-white: #FFFFFF;
    --cl-almost-white: #FEFEFE;
    --cl-black: #000000;
    
    /* fonts */
    --main-font: 'Roboto', sans-serif;
    /* size */
    
    /* animat */
    --animat: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
