<!-- Антон - Кардка для для фільма -->

<!-- <li class="card card-js lns" data-id="${id}">
  <div>
    <button data-id="${id}" class="button-youtube" type="button" aria-label="watch movie trailer"></button>
  </div> -->
  <!-- <div class="card__wrap"> -->
  <!-- <img class="card__img" src="${poster_path}" alt="${original_title}" width="395" height="574"> -->
  <!-- <img class="card__img lnk" src="#" alt="" width="395" height="574">
  <h3 class="card__name lng-cardName"></h3>
  <p class="card__info lng-cardInfo"><span class="card__rating"></span></p>
  </div>
</li> -->
