<div class="is-hidden" data-index="">
    <div class="film-modal-wrap">
        <div class="film-item modal" data-id="" data-index="" data-modal>
            <div class="film__image-wrap">
                <img src="#" alt=""
                    class="film__img" id="" />
            </div>
            <div class="film__content-wrap">
                <h2 class="film__title">film name</h2>
                <div class="film__info-wrap">
                    <ul class="film__info-wrap-list list">
                        <li class="film__info-wrap-item">
                            <p class="film__info-wrap-item-type">Vote / Votes</p>
                            <p class="film__info-wrap-item-vote">
                                <span class="vote-value"></span> /
                                <span class="votes-value"></span>
                            </p>
                        </li>
                        <li class="film__info-wrap-item">
                            <p class="film__info-wrap-item-type">Popularity</p>
                            <p class="film__info-wrap-item-popularity"></p>
                        </li>
                        <li class="film__info-wrap-item">
                            <p class="film__info-wrap-item-type">Original Title</p>
                            <p class="film__info-wrap-item-name">xxxx</p>
                        </li>
                        <li class="film__info-wrap-item">
                            <p class="film__info-wrap-item-type">Genre</p>
                            <ul class="film__info-list list">
                                <li class="film__info-item"><span></span></li>
                                <!-- <li class="film__info-item"><span>,</span></li>
                <li class="film__info-item"></li> -->
                            </ul>
                        </li>
                    </ul>
                </div>
                <p class="about-film-title">About</p>
                <p class="film-description"></p>
                <div class="film-button">
                    <button type="button" class="button" id="">
                        Add to watched
                    </button>
                    <button type="button" class="button" id="">
                        Add to queue
                    </button>
                </div>
            </div>
            <button type="button" class="" data-action="" id="">
                <svg class="" width="18" height="18">
                    <use></use>
                </svg>
            </button>
        </div>
    </div>
</div>