<!-- Антон - Кардка для для фільма -->

<li class="card card-js" data-id="${id}">
  <a class="card__link" href="#">
    <!-- <img class="card__img" src="${poster_path}" alt="${original_title}" width="395" height="574"> -->
    <img class="card__img" src="#" alt="${original_title}" width="395" height="574">
    <h3 class="card__name card__name-lang">${}Test Name</h3>
    <p class="card__info card__info-lang">${} Test Drama | Test 2000 ${}<span class="card__rating">${} 10.0</span></p>
  </a>
</li>
