<h1 class="visually-hidden">Films library</h1>
<div class="container">
    <ul class="gallery js-gallery">
        <!-- Список с карточками изображений -->
    </ul>
    <div class="alert__message container visually-hidden">
        <span class="sorry"> Sorry :(</span>
        <p class="string__alert">No movies have been added yet</p>
    </div>
    <!-- <div class="info-notify is-hidden">
        <p class="info-notify-text"></p>
        <img src="./images/library/empty-for-library.png" alt="info-image" class="info-image" />
    </div> -->
</div>