<!-- <h2>Header</h2> -->

<header class="header header-js">
  <div class="header__container hdr__contn-js container">
    <a class="logo lnk" href="./index.html">
      <svg width="24" height="24" aria-label="Логотип">
        <use href="./images/header/symbol-icons.svg#film"></use>
      </svg>
      <!-- <img src="./images/icon-site.png" alt="Logo" width="24" height="24" /> -->
      <span class="header__title hdr__title-js lng-headerTitle">
        Filmoteka
      </span>
    </a>

    <nav class="nav nav-js">
      <ul class="nav__list nav__lst-js">
        <li class="nav__item lst nav__item-js">
          <a class="nav__link nav__link--current lnk lng-homepage" href="./index.html">
            Home
          </a>
        </li>
        <li class="nav__item lst nav__item-js">
          <a class="nav__link lnk lng-myLibrary" href="./library.html">
            My library
          </a>
        </li>
        <!-- ? language ? -->
        <li class="nav__item lst nav__item-js">
          <p class="jsBgLangOpen lng-languageChoose">Language</p>
          <ul class="lang-list jsLangList lang-hidden">
            <li class="lst">
              <img class="selected-lang-img jsUA" alt="UA" src="/src/images/header/UA.png" width="35" height="20" />
            </li>
            <li class="lst">
              <img class="jsUK" src="/src/images/header/UK.jpg" alt="UK" width="35" height="20" />
            </li>
          </ul>
        </li>
        <!-- ? language ? -->
      </ul>
    </nav>
    <!-- theme dark/light -->
    <div class="theme__container theme-js">
      <div class="toggle toggle-js">
        <div class="toggle-button toggle__btn-js"></div>
      </div>
      <div class="theme__dark dark-js">light</div>
    </div>
  </div>
  <!-- theme dark/light  -->
  <div class="header__form hdr__form-js">
    <form class="header__search-form search-js" id="header-form">
      <input class="input-form inpt-js lng-movieSearch" type="text" name="searchQuery" autocomplete="off"
        placeholder="Movie search" />
      <button class="button-form btn__form-js" type="submit">
        <svg width="12" height="12" aria-label="Search">
          <use href="./images/header/symbol-icons.svg#search"></use>
        </svg>
        <!-- <img
          src="./images/header/search 2.png"
          alt="Search"
          width="12"
          height="12"
        /> -->
      </button>
    </form>
  </div>
</header>