<!-- Modal window -->

<div class="modal-backdrop is-hidden" data-modal>
  <div class="modal-window">
    <button class="modal__btn-close">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="14"
        height="14"
        fill="currentColor"
        class="bi bi-x-lg"
        viewBox="0 0 16 16"
      >
        <path
          d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
        />
      </svg>
    </button>

    <div class="modal__sidebar--left">
      <img class="modal__img" src="#" alt="" />
    </div>

    <div class="modal__sidebar--right">
      <h2 class="modal__title"></h2>
      <ul class="modal__list lst">
        <li class="modal__item">
          <p class="modal__heading">Vote / Votes</p>
          <p class="modal__txt">
            <span class="modal__vote"></span> /
            <span class="modal__votes"></span>
          </p>
        </li>
        <li class="modal__item">
          <p class="modal__heading">Popularity</p>
          <p class="modal__txt"></p>
        </li>
        <li class="modal__item">
          <p class="modal__heading">Original Title</p>
          <p class="modal__txt"></p>
        </li>
        <li class="modal__item">
          <p class="modal__heading">Genre</p>
          <p class="modal__txt"></p>
        </li>
      </ul>
      <h3 class="modal__subtitle">ABOUT</h3>
      <p class="modal__desc"></p>
      <div class="modal__box">
        <button type="button" class="modal__btn--left">add to Watched</button>
        <button type="button" class="modal__btn--right">add to queue</button>
      </div>
    </div>
  </div>
</div>
