.js-pagination {
  display: flex;
  justify-content: center;
  align-self: center;

  &__btn {
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;

    text-align: center;
    text-decoration: underline;
    border-radius: 5px;

    cursor: pointer;    
    transition: background-color var(--animat), color var(--animat);
      
      &:hover {
        background-color: var(--cl-accent);
        color: var(--cl-white);
      }    

    &--current {
      background-color: rgb(245, 132, 3);
      cursor: auto;
    }

    &--block {      
      background-color: rgb(180, 179, 179);
      color: rgb(80, 79, 79);
      cursor: auto;
    }
  }

  &__svg{
    fill: black;
  }
}
