.film-container {
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    @include section();
  }
}

.film-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: 768px) {
    @include card-set($card-gap: 32px);
  }

  @media screen and (min-width: 1280px) {
    @include card-set($card-gap: 32px 16px);
  }
}

.card {
  @media screen and (min-width: 767px) {
    @include card-item();
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 768px) {
    @include card-item($card-item: 2, $card-gap: 32px);
  }

  @media screen and (min-width: 1280px) {
    @include card-item($card-item: 3, $card-gap: 32px 16px);
  }
}
