.container > .gallery {
  padding-top: 20px;
}

@media screen and (min-width: 768px) {
  .container > .gallery {
    padding-top: 30px;
  }

  .gallery {
    display: flex;
    flex-wrap: wrap;

    //margin-top: -30px;
    margin-left: -30px;
  }
}

/* -------- FILM CARD -------- */
.card {
  // position: relative;
  width: 280px;
  height: 440px;
  transition: 0.5s linear;

  @include mq(tab) {
    width: 336px;
    height: 495px;
  }

  //  @media screen and (min-width: 1200px) {
  //   .card {
  //     width: 395px;
  //       height: 634px;
  //   }
  // }

  @include mq(desk) {
    width: 395px;
    height: 634px;
  }

  &:hover,
  &:focus {
    transform: scale(1.05);
    // box-shadow: 4px 3px 12px -1px rgba(255, 107, 8, 0.5);
  }
}

.card__wrap {
  @include mq(tab) {
    display: block;
  }
}

.card__img {
  width: 280px;
  height: 398px;
  margin-bottom: 8px;

  @include mq(tab) {
    width: 336px;
    height: 455px;
  }

  @include mq(desk) {
    width: 394px;
    height: 574px;
  }
}

.card__name {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  color: var(--cl-black);
  text-transform: uppercase;

  @include mq(tab) {
    line-height: calc(16 / 12);
  }

  @include mq(desk) {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.card__info {
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: #ff6b08;
  // text-transform: uppercase;

  @include mq(tab) {
    line-height: calc(16 / 12);
  }

  @include mq(desk) {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

// .card__rating {
//   display: none;
// }

.button-youtube {
  position: absolute;
  z-index: 1;
  width: 275px;
  height: 40px;
  margin-left: 2px;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 0;
  outline: none;
  background-image: url(../..//..//src/images/icons8-youtube-play.svg);
  background-color: initial;
  // top: 50%;
  //   left: 50%;
}

.sorry {
  color: getColor(--cl-accent);
  font-size: 50px;
  margin-bottom: 20px;
}

.string__alert {
  line-height: calc(14px / 17px);
  font-size: 17px;
  font-weight: 700;
}

.alert__message {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
