.header {
  height: 230px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url(../images/header/background_1x_s.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/header/background_2x_s.png);
  }

  @media screen and (min-width: 768px) {
    height: 216px;
    background-image: url(../images/header/background_1x_m.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/background_2x_m.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/header/background_1x_l.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/background_2x_l.png);
    }
  }
}

.header__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 56px;
  // margin-right: 20px;
  // margin-left: 20px;
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    margin-bottom: 46px;
  }
}

.nav__list {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);

  display: flex;
  gap: 40px;
  align-items: baseline;
  text-align: center;
  text-transform: uppercase;

  // margin-right: 20px;
  // padding-top: 44px;
  color: var(--cl-ivory);

  @media screen and (max-width: 340px) {
    gap: 20px;
  }

  // @media screen and (min-width: 768px) {
  //   // margin-right: 32px;
  //   // padding-top: 49px;

  // }
}

.nav__link--current {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    // bottom: 0;
    display: block;
    width: 100%;
    height: 3px;

    background-color: #ff001b;
  }
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  // margin-left: 22px;
  // padding-top: 40px;

  @media screen and (min-width: 768px) {
    // margin-left: 32px;
    gap: 8px;
  }

  @media screen and (min-width: 1280px) {
    gap: 10px;
    // padding-top: 40px;
  }
}

.header__title {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 30px;
  line-height: calc(35 / 30);
  color: var(--cl-ivory);
  @include mq(mob-only) {
    & {
      display: none;
    }
  }
  // opacity: 0;

  // @media screen and (min-width: 768px) {
  //   // opacity: 1;

  // }
}

.header__search-form {
  width: 280px;

  @include centered-flex;

  margin: auto;
  border-bottom: 1px solid var(--cl-ivory);

  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

.input-form {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: transparent;
  padding: 5px;
  color: var(--cl-ivory);

  &::placeholder {
    @include fonts;

    color: var(--cl-ivory);
  }
}

.button-form {
  background-color: transparent;
  border: none;
  padding: 5px;
  cursor: pointer;
}

.form-icon {
  // fill: var(--cl-white);
  color: var(--cl-ivory);
}
.nav__item:last-child {
  position: relative;
  cursor: pointer;

  & p {
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.lang-list {
  position: absolute;
  top: 20px;
  right: -1x;

  display: flex;
  flex-direction: column;
  gap: 2px;

  transition-property: opacity, bottom;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  & img {
    border-radius: 15%;
  }
  & li {
    width: 60px;
  }
  &-show {
    bottom: -5px;
  }
}
.lang-list-ua {
  right: -1px;
}
.lang-list-uk {
  right: 6px;
}

.lang-hidden {
  opacity: 0;
  cursor: auto;
}

.theme__container {
  position: absolute;
  top: 40px;
  right: 85px;
  transform: translate(-50%, -50%);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  // @media screen and (max-width: 767px) {
  //   right: 100px;
  // }

  @media screen and (min-width: 768px) {
    right: 100px;
  }

  @media screen and (min-width: 1280px) {
    right: 85px;
  }
}

.theme__container .toggle {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 20px;
  background: rgba(162, 40, 40, 0.808);
  border-radius: 30px;
  cursor: pointer;
}

.theme__container .toggle .toggle-button {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background: linear-gradient(to bottom, #444, #222);
  border-radius: 50%;
  transition: 0.3s;
}
.theme__container .toggle__light {
  transition: background-color 300ms;
  background-color: black;
  .toggle-button {
    left: 20px;
  }
}

.theme__container .theme__dark {
  position: absolute;
  top: 4px;
  left: 40px;
  font-family: var(--main-font);
  font-size: 8px;
  line-height: calc(12 / 8);
  text-transform: uppercase;
  color: var(--cl-ivory);
  margin-left: 2px;
}
