.list {
    list-style-type: none;
}

.header-library {
    // max-width: 1280px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    height: 230px;
    padding-top: 20px;
    

    margin-left: auto;
    margin-right: auto;

    background-image: url(../images/header-library/library_sm@1x.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/header-library/library_sm@2x.png);
    }

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media screen and (min-width: 768px) {
        height: 219px;

        background-image: url(../images/header-library/library_md@1x.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/header-library/library_md@2x.png);
        }
    }

    @media screen and (min-width: 1200px) {
        height: 216px;
        background-image: url(../images/header-library/library_lg@1x.png);

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: url(../images/header-library/library_lg@2x.png);
        }
    }
}

.header-library-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-filmoteka {
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 1.16;
    font-weight: 500;
    text-decoration: none;

    @include mq(mob-only) {
        & {
            display: none;
        }
    }
}

.nav-logo__item {
    cursor: pointer;
}

.nav-menu {
    display: flex;
    gap: 39px;
    justify-content: space-between;
    align-items: flex-end;
}

.nav-menu__link {
    position: relative;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    font-size: 12px;
    line-height: 1.16;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    list-style-type: none;
    cursor: pointer;
}
.nav-menu__link-btn{
    padding: 0px;
    background: none;
    border: none;
}

.nav-menu__link.active::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0px;
    display: block;
    width: 100%;
    height: 2px;
    //border-radius: 2px;
    background-color: red;
}

.btn-menu{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
}

.btn-watch {
    @extend %btn;
    border-color: #000;
    color: #000;
    &.active{
    background-color: var(--cl-accent);
    border-color: #fff;
    color: #fff;    }
}

.btn-queue{
    @extend %btn;
    border-color: #000;
    color: #000;
    &.active{
    background-color: var(--cl-accent);
    border-color: #fff;
    color: #fff;    }
}

