.header {
  height: 230px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: url(../images/header/background_1x_s.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/header/background_2x_s.png);
  }

  @media screen and (min-width: 768px) {
    height: 216px;
    background-image: url(../images/header/background_1x_m.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/background_2x_m.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/header/background_1x_l.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/background_2x_l.png);
    }
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 56px;

  @media screen and (min-width: 768px) {
    margin-bottom: 46px;
  }
}

.nav__list {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);

  display: flex;

  align-items: center;
  text-align: center;
  text-transform: uppercase;

  margin-right: 20px;
  padding-top: 44px;
  color: var(--cl-white);
  gap: 40px;

  @media screen and (min-width: 768px) {
    margin-right: 32px;
    padding-top: 49px;
  }
}
.nav__link--current {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    // bottom: 0;
    display: block;
    width: 100%;
    height: 3px;

    background-color: #ff001b;
  }
}

.logo {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin-left: 22px;
  padding-top: 40px;

  @media screen and (min-width: 768px) {
    margin-left: 32px;
      
  }

  @media screen and (min-width: 1280px) {
    gap: 10px;
    padding-top: 40px;
  }
}

.header__title {
  opacity: 0;

  @media screen and (min-width: 768px) {
    opacity: 1;
    font-family: var(--main-font);  
    font-weight: 500;
    font-size: 30px;
    line-height: calc(35/30);
    color: var(--cl-white)
  }
 
}

.header__search-form {
  width: 280px;

  @include centered-flex;

  margin: auto;
  border-bottom: 1px solid var(--cl-white);

  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

.input-form {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: transparent;
  padding: 5px;
  color: var(--cl-white);

  &::placeholder {
    @include fonts;

    color: var(--cl-white);
  }
}

.button-form {
  background-color: transparent;
  border: none;
  padding: 5px;
}

.form-icon {
  // fill: var(--cl-white);
  color: var(--cl-white);
}
